

define service {
	service_description	osync
	host_name		{{ ansible_hostname }}
        use			distributed-service
        check_command		check_log3!/var/log/osync.sysvol_sync.log!osync finished with warnings.
}
