127.0.0.1       localhost
{{ eth0_address }}    {{ ansible_host | split('.').first() }}.{{ realm }} {{ ansiblew_host | split('.').first() }}

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
