# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0
iface eth0 inet static
    address {{ eth0_address }}
    gateway {{ eth0_gateway }}

    dns-nameservers {{ eth0_address }}
    dns-nameservers {{ main_dc_address }}
    dns-search {{ dns_search_realm }}
