
define service {
  service_description            Samba
  host_name                      {{ ansible_hostname }}
  use                            local-service
  check_command                  check_procs!2:25!1:100!samba
}

define service {
  service_description            Winbindd
  host_name                      {{ ansible_hostname }}
  use                            local-service
  check_command                  check_procs!2:50!1:100!winbindd
}

define service {
  service_description		PDC DNS
  host_name			{{ ansible_hostname }}
  use				local-service
  check_command			check_dns!_ldap._tcp.dc._msdcs.{{ dns_domain_name }}
}


{% if ansible_hostname == sysvol_main_sync_host %}
define service {
        service_description     osync
        host_name               {{ ansible_hostname }}
        use                     distributed-service
        check_command           check_log!/var/log/osync.sysvol_sync.log!'osync finished with warnings.' -w 1
}
{% endif %}
